<head>
	{% if site.enforce_ssl %}
	<!--
	  redirect users to the https version of the website.
	  but: only check when on the production domain, as set in _config.yml.
	 -->
	<script type="text/javascript">
	  var enforce = "{{ site.enforce_ssl }}";
	  if ((enforce == window.location.host) && (window.location.protocol != "https:"))
	    window.location = window.location.toString().replace(/^http:/, "https:");
	</script>
	{% endif %}
	{% include google_analytics.html %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:type" content="{% if page.thumbnail %}article{% else %}website{% endif %}">
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta property="og:image" content="{% if page.thumbnail %}{{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.avatar | prepend: site.baseurl | prepend: site.url }}{% endif %}">
	<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% 	endif %}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:locale" content="{{ site.locale }}">
	{% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
	<meta property="article:author" content="{{ site.fb_admins }}">
	{% for post in site.related_posts limit:3 %}<meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	{% endfor %}{% endif %}<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{ site.twitter_site }}" />
	<meta name="twitter:creator" content="{{ site.twitter_creator }}" />
	<meta property="fb:admins" content="{{ site.fb_admins }}" />
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
